<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
  <div class="content">

    <h1 class="title">Contato</h1>
    <p class="lead">Crie ou/e Edite o seus contatos</p>
    
    <%- include('includes/messages')%>


      <% if(contato._id) {%> 
        <form action="/contato/edit/<%= contato._id%>" method="post" class="grid">
      <%} else {%>
        <form action="/contato/register" method="post" class="grid">
      <%}%>
      
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"> <!-- token -->

        <div class="labelFloat nameLabel">
          <input value="<%= contato.nome%>" type="text" class="wM input name" name="nome" placeholder=" ">
          <label for="nome" class="label">Nome</label>
        </div>

        <div class="labelFloat">
          <input value="<%= contato.sobrenome%>" type="text" class="wM input" name="sobrenome" placeholder=" ">
          <label for="sobrenome" class="label">Sobrenome</label>
        </div>

        <div class="labelFloat emailLabel">
          <input value="<%= contato.email%>" type="email" class="wM input email" name="email" placeholder=" ">
          <label for="" class="label">Seu e-mail</label>
        </div>

        <div class="labelFloat telefoneLabel">
          <input value="<%= contato.telefone%>" type="tel" class="wM input telefone" name="telefone" placeholder=" ">
          <label for="" class="label">Telefone</label>
        </div>

        <% if(contato.id) {%>
          <button type="submit" class="submit">Editar</button>
        <%} else {%>
          <button type="submit" class="submit">Adicionar</button>
        <%}%>
        </form>
        <img class="img" src="http://localhost:3000/assets/img/telefone.svg" alt="Ilustração de contatos">
  </div>
</div>

<script src="http://localhost:3000/assets/js/contato.js"></script>
<%- include('includes/footer'); %>
