<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Contato</h1>
      <p class="text-center lead">Crie ou/e Edite o seus contatos</p>
      
      <%- include('includes/messages') %>

        <form action="/contato/register" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="sobrenome">Sobrenome</label>
            <input type="text" class="form-control" name="sobrenome" placeholder="Sobrenome">
          </div>
          <div class="form-group">
            <label for="">Seu e-mail</label>
            <input type="email" class="form-control" name="email" placeholder="E-mail">
          </div>
          <div class="form-group">
            <label for="">Telefone</label>
            <input type="tel" class="form-control" name="telefone" placeholder="Telefone">
          </div>
          <button type="submit" class="btn btn-primary my-2">Adicionar</button>
        </form>
    <div class="col-lg-2"></div>
  </div>
</div>
<%- include('includes/footer'); %>