<%- include('includes/head'); %>
  <%- include('includes/nav'); %>

    <div class="container">
      <div class="content">

        <h1 class="title">Agenda</h1>
        <p class="lead">Seus contatos estão abaixo</p>

        <%- include('includes/messages') %>

          <% if(contatos.length> 0){ %>
            <table class="table my-3">

              <% contatos.forEach(contato=> { %>
                <tr>
                  <td><%= contato.nome %></td>
                  <td><%= contato.sobrenome %></td>
                  <td><%= contato.email %></td>
                  <td><%= contato.telefone %></td>
                  <%if(user){%>
                  <td><a href="/contato/<%= contato._id %>">Editar</a></td>
                  <td><a class="text-danger" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
                <%}%>
                </tr>
                <%});%>
            </table>
            <%if(user){%>
              <p class="pContainer"><a class="novoContato" href="/contato">Adicionar</a></p>
              <%}%>
                <%} else{ %>
                  <p class="text-center lead"></p>
                  <%} %>
      </div>
    </div>
    <%- include('includes/footer'); %>