<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
  <div class="content">
    <h1 class="title">Agenda</h1>
    
    <%- include('includes/messages') %>
    
    <%if(user){%>
      <%if(contatos.length > 0){%>
        <p class="lead">Seus contatos estão abaixo:</p>

          <table class="">
            <% contatos.forEach(contato => { %>
              <tr>
                <td><%= contato.nome %></td>
                <td><%= contato.sobrenome %></td>
                <td><%= contato.email %></td>
                <td><%= contato.telefone %></td>
                <td class="lapis"><a href="/contato/<%= contato._id %>"><abbr class="lp" title="Editar">✐</abbr></a></td>
                <td class="del"><a class="text-danger" href="/contato/delete/<%= contato._id %>"><abbr class="del dt" title="Deletar">×</abbr></a></td>
              </tr>
              <%});%>
            </table>

            <p class="pContainer"><a class="novoContato" href="/contato">Adicionar</a></p>
      <%}else {%>
        <p class="mt2">Ainda não temos contatos salvos.</p>
        <img src="http://localhost:3000/assets/img/ilustracaoLista.svg" alt="Ilustração de uma lista">
        <p class="pContainer"><a class="novoContato maxW" href="/contato">Criar primeiro contato</a></p>
      <%}%>
    <%}else {%>
      <p class="text-center lead">Você precisa estar logado para ver e/ou criar contatos</p>
      <img src="http://localhost:3000/assets/img/ilustracaoLista.svg" alt="Ilustração de uma lista">
      <p class="pContainer"><a class="novoContato maxW" href="/login">Logar agora</a></p>
    <%}%>
  </div>
</div>


<%- include('includes/footer'); %>
