<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
  <div class="content">

    <div class="mt2">
      <h1 class="text-center">Olá <%= user.email %></h1>
      <p class="text-center lead">Você já está logado</p>
      <%- include('includes/messages');%> 
    </div>
  </div>
</div>

<%- include('includes/footer'); %>
