<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
  <div class="content">


    
    <h1 class="title">Login</h1>
    <p class="lead">Para logar na sua conta basta preencher os dados abaixo</p>

    <%- include('includes/messages');%>
    
        <form action="/login/login" method="post" class="form mt2">
          <div class="grid">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="labelFloat logLabel">
              <input  type="text" class="wM input log" name="log" placeholder=" ">
              <label for="nome" class="label">E-mail ou Usuário</label>
            </div>
            <div class="labelFloat passwordLabel">
              <input  type="password" class="wM input password" name="password" placeholder=" ">
              <label for="" class="label">Senha</label>
            </div>
            
          </div>
          <button type="submit" class="submit2">Logar</button>
        </form>
        
        <img src="http://localhost:3000/assets/img/login.svg" alt="">
    <p><a class="login" href="/register">Criar conta agora</a></p>

  </div>
</div>

<script src="http://localhost:3000/assets/js/login.js"></script>

<%- include('includes/footer'); %>
