<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
  <div class="content">


    <%- include('includes/messages');%>

    <h1 class="title">Login</h1>
    <p class="lead mb3">Para logar na sua conta basta preencher os dados abaixo</p>
    
        <form action="/login/login" method="post">
          <div class="grid">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="labelFloat">
              <input  type="text" class="wM input " name="log" placeholder=" ">
              <label for="nome" class="label">E-mail ou Usuário</label>
            </div>
            <div class="labelFloat">
              <input  type="password" class="wM input" name="password" placeholder=" ">
              <label for="" class="label">Senha</label>
            </div>
            
          </div>
          <button type="submit" class="submit2">Logar</button>
        </form>
        
        <img src="http://localhost:3000/assets/img/login.svg" alt="">
    <p><a class="login" href="/register">Criar conta agora</a></p>

  </div>
</div>

<%- include('includes/footer'); %>
