<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
  <div class="content">

    <h1 class="title">Criar sua conta agora</h1>
    <p class="lead mb3">Para criar sua conta basta preencher os dados abaixo</p>

    <%- include('includes/messages');%>

    <form action="/login/register" method="post" class="formRegister">
      <div class="grid">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <div class="labelFloat nameLabel">
          <input  type="text" class="wM input name" name="nome" placeholder=" ">
          <label for="nome" class="label">Seu nome</label>
        </div>

        <div class="labelFloat logLabel">
          <input  type="text" class="wM input log" name="log" placeholder=" ">
          <label for="nome" class="label">Usuario</label>
        </div>

        <div class="labelFloat passwordLabel">
          <input  type="password" class="wM input password" name="password" placeholder=" ">
          <label for="" class="label">Senha</label>
        </div>
        
        <div class="labelFloat emailLabel">
          <input  type="email" class="wM input email" name="email" placeholder=" ">
          <label for="nome" class="label">Seu E-mail</label>
        </div>

        <div class="labelFloat passwordCopyLabel">
          <input  type="password" class="wM input passwordCopy" name="passwordCopy" placeholder=" ">
          <label for="nome" class="label">Repita a senha</label>
        </div>

      </div>
      <button type="submit" class="submit2">Criar Conta</button>
    </form>

    <a class="login" href="/login">Já tenho login</a>
    <script src="http://localhost:3000/assets/js/register.js"></script>

  </div>
</div>

<%- include('includes/footer'); %>
